<div class="jumbotron">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <input ng-model="toDo.name" type="text" class="form-control" id="toToTitle" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <input ng-model="toDo.description" type="text" class="form-control" id="toToDescription" placeholder="Enter Description">
        </div>
        <button class="btn btn-success" ng-click="addToDo()">Add To Do</button>
    </form>
</div>
<br />