<div>
    <form class="form" role="form" id="addToDoForm">
        <div class="form-group">
            <input ng-model="toDo.name" type="text" class="form-control" id="toToTitle" placeholder="Enter Title" style="width: 70%">
        </div>
        <div class="form-group">
            <input ng-model="toDo.description" type="text" class="form-control" id="toToDescription" placeholder="Enter Description" style="width: 70%">
        </div>
        <div class="text-center">
            <button class="btn btn-success" ng-click="addToDo()">Add To Do</button>
        </div>
        
    </form>
</div>
<br />