<div class="view">
    <div class="container">
        <header>
            <h3>About</h3>
        </header>
        <p>A basic sample app. I've primarily used this as a test bed to get familiar with working with Git and Github. </p>
        <p>Planning to continue to iterate and utilise the basic foundations of the app for experimenting and testing new technology and frameworks. </p>
        <strong>Technologies used:</strong>
        <ul>
            <li>AngularJS</li>
            <li>Typescript</li>
            <li>Git DVCS</li>
            <li>Firebase (backend as a service)</li>
            <li>GitHub and GithubPages</li>
            <li>Toaster JS library</li>
        </ul>
</div>