<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" style="margin-bottom: 10px; margin-left: 10px;" ng-model="toDo.title" /></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" style="margin-bottom: 10px; margin-left: 10px;" ng-model="toDo.description" /></td>
            </tr>
            <tr><td></td><td><button class="btn btn-xs pull-right" ng-click="addToDo()">Add To Do</button></td></tr>
        </table>

    </div>
    <div class="col-md-3"></div>

</div>

<br />

<div class="row">
    <hr />
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div ng-repeat="toDo in toDos" ng-show="toDos.length > 0">
            <p>Title: {{toDo.title}}</p>
            <p>Description: {{toDo.description}}</p>
        </div>
        <div ng-show="toDos.length < 1">No ToDos created</div>
    </div>
    <div class="col-md-3"></div>
</div>