<!-- New ToDo Form -->
<form class="form" role="form" id="addToDoForm">
    <div class="form-group">
        <input ng-model="toDo.name" type="text" class="form-control" id="toToTitle" placeholder="Enter Title" style="width: 70%">
    </div>
    <div class="form-group">
        <textarea ng-model="toDo.description" type="text" class="form-control" id="toToDescription" placeholder="Enter Description" style="width: 70%"></textarea>
    </div>
    <div class="text-center">
        <button class="btn btn-success" ng-click="addToDo()">Add To Do</button>
    </div>
</form>
<br /><hr />
<div ng-hide="toDos.length">
    <img id="loadingSpinner" src="Content/images/loading.gif" />
</div>
<div class="row marketing" ng-show="toDos.length">
    <div class="col-lg-6" ng-repeat="toDo in toDos">
        <div id="toDoItem" class="well well-sm" ng-click="viewToDo(toDo.$id)">
            <h4>{{toDo.name}}</h4>
            <p>{{toDo.description}}</p>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
